body{
    margin: 0;
    background: rgb(221, 221, 156);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: white;
}

.logo{
    text-align: center;
}

.drop-menu {
    background-color: rgb(194, 194, 0);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    clear: left;
    display: inline-block;
    width: 100%;
    background-color: rgb(194, 194, 0);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(221, 221, 156);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(194, 194, 0)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop-menu {
    background-color: rgb(221, 221, 156);
}

.inicio{
    float: left;
    width: 70%;
    text-align: justify;
    margin: 30px;
}

.taula{
    float: right;
    width: 25%;
}

.actores{
    clear: left;
    position: relative;
    top: 20px;
    text-align: justify;
    margin: 30px;
}

.actores h3{
    text-align: center;
    text-decoration-line: underline;
}

hr{
    border: 2px solid rgb(194, 194, 0);
    width: 75%;
}

td{
    border: 2px solid rgb(194, 194, 0);
}

h3{
    top: 10px;
}


.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
    border: 2px solid rgb(194, 194, 0);
    background:rgb(194, 194, 0);
}

.trailer{
    clear: both;
    margin: 30px;
    text-align: center;
}

.cines{
    margin: 30px;
}

.opiniones{
    text-align: justify;
    margin: 30px;
}

.opiniones h3{
    text-align: center;
}

.links{
    margin: 30px;
}

.premios{
    margin: 30px;
}

.formulario{
    margin: 30px;
}

footer{
    text-align: center;
    font-style: italic;
}
